/* ==========================================================================
    FOOTER
   ========================================================================== */

.footer {
  width: 100%;
  display: block;

  // footer advertisement section
  .footer-ad {
    display: inline-block;
  }

  // desktop-specific styles
  @include desktop {
    background: url(../images/global/image.jpg);
  }

  // tablet-specific styles
  @include tablet {

    .facebook-ad {
      position: absolute;
    }

  }

  // phone-specific styles
  @include phone {

    .facebook-ad {
      position: relative;
    }

  }

}